.loadercontainer{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.loadcontent{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid white;
    border-top: 5px solid #11101D;
    animation: spin 1s linear infinite;
}
.loadercontainer p{
    font-size: 12px;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}