.mysongs{
    height: max-content;
    margin: 20px;
    margin-left: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mysongs h3{
    margin-top: 30px;
}

/* 
.mysongs-search-bar{
    width: 100%;
    display: flex;
    gap: 20px;
}
.mysongs-search-bar input{
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 14px;
}

.mysongs-search-bar button{
    width: 90px;
    min-width: 90px;
    height: auto;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ccc;
    color: black;
} 


.songSearchResult{
    display: none;
    font-weight: 600;
}
*/


.mysongs-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
    width: 80%;
}

.mysong-tab{
    width:100%;
    height: 80px;
    background-color: white;
    padding: 0px 40px;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s ease;
    position: relative;
}

.mysong-details{
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;
    width: 90%;
    /* background-color: red; */
    /* height: 100%; */
    padding:  20px 0;
    align-items: center;
}

.mysong-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    cursor: pointer;
    background-color: #11101D;

}

.changesvg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.changesvg svg{
    font-size: 22px;
    color: white;
    border: none;
}


.showOptions{
    position: absolute;
    top: 33px;
    left: -108px;
    display: none;
    flex-direction: column;
    z-index: 14;
}

.showOptions button{
    width: 140px;
    height: 40px;
    cursor: pointer;
    z-index: 15;
    border: none;
    color: white;
    font-size: 13px;
    background-color: #11101D;
}

.mysong-title{
    white-space: nowrap;
}

.myartist-name{
    color: darkgray;
    white-space: nowrap;
}
.song-tab:active{
    background-color: #11101D
}

.song-tab:active .song-title{
    color: white;
}


@media (max-width: 1024px){
    .mysongs{
        margin-left: 270px;
    }
    .mysongs-list{
        width: 100%;
    }
}

@media (max-width:768px) {
    .mysongs{
        margin-left: 120px;
    }
    .mysongs-list{
        flex-direction: column;
    }
    .song-tab{
        flex-direction: column;
        gap: 0;
        height: auto;
    }
    .songSearchResult{
        text-align: center;
    }
}

@media (max-width:480px) {
    .mysongs{
        padding: 20px 0;
        margin-left: 100px;
    }
    .mysong-title{
        white-space: unset;
    }

    .mysongs h3{
        text-align: center;
    }
    .mysongs-search-bar{
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }
    .mysongs-search-bar button{
        height: 30px;
        font-size: 14px;
    }

    .addSong{
        border-radius: 50%;
        top: 25px;
        right: 30px;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addSong span{
        font-size: 25px;
    }

    .addSong p{
        display: none;
    }

    .mysong-details{
        width: 80%;
    }
}