.songs{
    height: max-content;
    margin: 20px;
    margin-left: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.songs h3{
    margin-top: 30px;
}

.songs-search-bar{
    width: 100%;
    display: flex;
    gap: 20px;
}

.songs-search-bar input{
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
}

.songs-search-bar button{
    width: 90px;
    min-width: 90px;
    height: auto;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ccc;
    color: black;
}


.songSearchResult{
    display: none;
    font-weight: 600;
}

.addSong{
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 5px 13px;
    border-radius: 10px;
    border: none;
    background-color: #3223d3;
    font-size: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    color: white;
}

.addSong span{
    font-size: 25px;
}




.songs-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.song-tab{
    width:auto;
    height: 50px;
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s ease;
}

.song-title{
    white-space: nowrap;
}

.artist-name{
    color: darkgray;
    white-space: nowrap;
}
.song-tab:active{
    background-color: #11101D
}

.song-tab:active .song-title{
    color: white;
}

@media (min-width:1025px) {
    .song-tab:hover{
        background-color: #11101D
    }
    
    .song-tab:hover .song-title{
        color: white;
    }
}

@media (max-width: 1024px){
    .songs{
        margin-left: 270px;
    }
}

@media (max-width:768px) {
    .songs{
        margin-left: 120px;
    }
    .songs-list{
        flex-direction: column;
    }
    .song-tab{
        flex-direction: column;
        gap: 0;
        height: auto;
    }
    .songSearchResult{
        text-align: center;
    }
}

@media (max-width:480px) {
    .songs{
        padding: 20px 0;
        margin-left: 100px;
    }

    .songs h3{
        text-align: center;
    }
    .songs-search-bar{
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }
    .songs-search-bar button{
        height: 30px;
        font-size: 14px;
    }
    .addSong{
        top: auto;
        bottom: 30px;
        right: 30px;
    }

}